<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>

<body id="home">

    <h1>{{ title }}</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Utinam quidem dicerent alium alio beatiorem! Iam ruinas videres. Duo Reges: constructio interrete. Idem iste, inquam, de voluptate quid sentit? Si quicquam extra virtutem habeatur in bonis. <br>
        Quod non faceret, si in voluptate summum bonum poneret. Age sane, inquam. Eam si varietatem diceres, intellegerem, ut etiam non dicente te intellego; Paria sunt igitur.
    </p>

</body>
</html>